﻿@page "/"

@using WatchesShowcase.Data
@using System.IO
@using System.Linq;
@inject AvailableWatchesService WatchesService

@code {
    private List<Watch> availableWatches;

    protected override async Task OnInitializedAsync()
    {
        availableWatches = await WatchesService.GetAllWatchesAsync("./watch-data/watches.json");
    }

    private int itemsCount = 0;

    private void IncrementCount()
    {
        itemsCount++;
    }
}

<nav class="navbar navbar-default">
    <a href="/" class="navbar-brand" style="color:snow;">Watches Showcase</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Company" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</nav>

@if (availableWatches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var watchData in availableWatches)
    {
        <a href="/watches/@watchData.Producer">
            <div class="flip">
                <div class="front" style="background-image: url(@watchData.ImagePath)">
                    <h1 class="text-shadow">@watchData.Producer</h1>
                </div>
                <div class="back">
                    <h2>@watchData.Producer</h2>
                    <h3>@watchData.ModelCode</h3>
                </div>
            </div>
        </a>
    }
}

