﻿@page "/watches/{ProducerName}"

@using WatchesShowcase.Data;
@inject AvailableWatchesService WatchesService

@code {
    [Parameter] public string ProducerName { get; set; }

    private List<Watch> availableWatches;

    protected override async Task OnInitializedAsync()
    {
        availableWatches = await WatchesService.GetAllWatchesAsync("./watch-data/watches.json", watch => watch.Producer == ProducerName);
    }
}

<h1 style="text-align:center; color:rgb(23, 20, 20)">@ProducerName</h1>

<p style="border-style:groove; border-radius:0.2em; border-color:#797373; margin-left:7em; margin-right:7em; margin-top:1em">The origin of Orient Watch Company dates back to 1901 when Shogoro Yoshida opened a wholesale shop called "Yoshida Watch Shop" in Ueno, Taito, Tokyo, Japan. Yoshida Watch Shop was successful, selling imported pocketwatches. In 1912, Yoshida expanded his business and began producing gold wristwatch cases. In 1920, Toyo Tokei Manufacturing was established, originally producing table clocks and gauges. It was not until 1934 that Toyo Tokei Manufacturing started the production of wristwatches. In 1936, the Hino factory was built in Hino, Tokyo, Japan. For several years, Toyo Tokei Manufacturing boomed at the Hino factory. However, affected by the poor Japanese economy after World War II, the company shut down in 1949.</p>


@if (availableWatches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var watchData in availableWatches)
    {
        <a href="/watches/@watchData.Producer">
            <div class="flip">
                <div class="front" style="background-image: url(@watchData.ImagePath)">
                    <h1 class="text-shadow">@watchData.Producer</h1>
                </div>
                <div class="back">
                    <h2>@watchData.Producer</h2>
                    <h3>@watchData.ModelCode</h3>
                </div>
            </div>
        </a>
    }
}
